<ion-item no-lines no-padding style="width:100px;float:right;">

  <button [disabled]="disableInput" item-left ion-button icon-only color="gray" outline class="first" (click)="removeClick($event)"><ion-icon name="remove"></ion-icon></button>
  <!--<ion-input type="number" [(ngModel)]="value"></ion-input>-->
  <input readonly class="number" type="number" [disabled]="disableInput" [(ngModel)]="value" color="gray"
    outline text-center />
  <button [disabled]="disableInput" item-right ion-button icon-only color="gray" outline class="last" (click)="addClick($event)"><ion-icon name="add"></ion-icon></button>
</ion-item>
